<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Speakr - vote for your favorite Code Camp talks!</title>
    @*<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
	<link rel="icon" type="image/png" href="~/favicon.png" />
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P|Nobile' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div id="body">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>